In [2]:
#list       tuple
#mutable inmutable
#
#
#
#

In [1]:
w=(1,2,4)
print(type(w))
print(w)

<class 'tuple'>
(1, 2, 4)

In [16]:
a=[1,25,3,4]
b={1,2,34,'sksjd'}
c=(1,2,4,45,'amit')
d={'ajay':'kumar','akash':'sur'}
print(type(a),a)
print(type(b),b)
print(type(c),c)
print(type(d),d)
a=set(a)
print('1 a is',type(a),a)
a=tuple(a)
print('2 a is',type(a),a)
a=list(a)
a.sort()
b.pop()
c.count
d.popitem()
print('2 a is',type(a),a)
print('3 b is',type(b),b)
print('2 d is',type(d),d)

<class 'list'> [1, 25, 3, 4]
<class 'set'> {1, 2, 34, 'sksjd'}
<class 'tuple'> (1, 2, 4, 45, 'amit')
<class 'dict'> {'ajay': 'kumar', 'akash': 'sur'}
1 a is <class 'set'> {1, 3, 4, 25}
2 a is <class 'tuple'> (1, 3, 4, 25)
2 a is <class 'list'> [1, 3, 4, 25]
3 b is <class 'set'> {2, 34, 'sksjd'}
2 d is <class 'dict'> {'ajay': 'kumar'}

In [4]:
a=['A','B','C','D','E','F']
k=1
p=1
for i in range(0,6):
    for j in range(0,i+1):
        print(a[j],end=' ')
    print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

In [13]:
for i in a:
    print(i,end=' ')
print()
t=1
x=5
p=5
while t!=5:
    print(a[t]," \t ",a[x-t])
    t=t+1
while p!=-1:
    print(a[p],end=' ')
    p=p-1

A B C D E F
B  	  E
C  	  D
D  	  C
E  	  B
F E D C B A

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [14]:
qq[:3]

(0, 1, 2)

In [24]:
qq=(2,3,'ads',4,2,4,1)

In [25]:
qq.count(4)

2

In [26]:
t=qq.index('ads')
print(t)

2

In [27]:
#tuple to list &vice ve

In [1]:
e=tuple(range(2,15,2))

In [32]:
li=list(e)
print(li)

[2, 4, 6, 8, 10, 12, 14]

In [34]:
qa=[1,2,3,4]
qw=tuple(qa)
print(qw)

(1, 2, 3, 4)

In [21]:
#set unordered and list,tuple are ordered
#set unique data
#set automatically sort(number)
#set  {}denote
sset={1,4,5,7,3,9}
st={3,5,2,21}
print(type(st))
print(sset)
print(st)
sd=list(st)
df=set(sset)
asd=tuple(st)
print(type(asd),asd)
print(type(df),df)
print(type(sd),sd)

<class 'set'>
{1, 3, 4, 5, 7, 9}
{21, 2, 3, 5}
<class 'tuple'> (21, 2, 3, 5)
<class 'set'> {1, 3, 4, 5, 7, 9}
<class 'list'> [21, 2, 3, 5]

In [40]:
s1={'a','b','s','e','f','y','t',45,2}
print(type(s1))
print(s1)

<class 'set'>
{2, 'y', 'b', 's', 45, 'e', 'f', 't', 'a'}

In [42]:
qwww={5,1,9,3,2}
print(qwww)

{1, 2, 3, 5, 9}

In [44]:
for i in qwww:
    print(i)

1
2
3
5
9

In [48]:
wee=list(qwww)#in list
print(wee)
er=set(wee)

[1, 2, 3, 5, 9]

In [47]:
qw={1,2,4,5,1,2,7}
print(qw)

{1, 2, 4, 5, 7}

In [36]:
s1={1,1,6,5,8}
s2={1}
k=s1.issuperset(s2)
print(k)
s1.add(5)
print(s1.intersection(s2))
s1.copy


print(s2)
print(s1)

True
{1}
{1}
{8, 1, 5, 6}

In [50]:
s1.issubset(s2)

False

In [51]:
s1.difference(s2)

{1, 8}

In [52]:
s1.union(s2)

{1, 5, 6, 8}

In [60]:
s1.add(3)
s1.symmetric_difference(s2)
print(s1)
print(s2)

{1, 3, 5, 6, 8}
{5, 6}

In [62]:
s1.add('afd')
print(s1)

{1, 3, 5, 6, 8, 'afd'}

In [63]:
s1.remove('afd')
print(s1)

{1, 3, 5, 6, 8}

In [64]:
s1.pop()
print(s1)

{3, 5, 6, 8}

In [38]:
sw={1,2,3,(21,2,4)}
print(type(sw),sw)

<class 'set'> {(21, 2, 4), 1, 2, 3}

In [39]:
sw={1,2,4,5,[2,3,4]}#set cannot hold listbut can tuple

TypeError: unhashable type: 'list'

In [68]:
qw={}#empty dic
er=set()#emptyset

In [72]:
er=[]
for i in range(10):
    t=int(input())
    er.append(t)
print(er)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

In [73]:
wq=set(er)

In [74]:
print(wq)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [76]:
#wap to find all no div by7 inrange(1500,3000)storew in set and display
t=0
re=[]
for i in range(1500,3000):
    if i%7==0:
        f=i
        t=t+f
        re.append(f)
print(re)

[1505, 1512, 1519, 1526, 1533, 1540, 1547, 1554, 1561, 1568, 1575, 1582, 1589, 1596, 1603, 1610, 1617, 1624, 1631, 1638, 1645, 1652, 1659, 1666, 1673, 1680, 1687, 1694, 1701, 1708, 1715, 1722, 1729, 1736, 1743, 1750, 1757, 1764, 1771, 1778, 1785, 1792, 1799, 1806, 1813, 1820, 1827, 1834, 1841, 1848, 1855, 1862, 1869, 1876, 1883, 1890, 1897, 1904, 1911, 1918, 1925, 1932, 1939, 1946, 1953, 1960, 1967, 1974, 1981, 1988, 1995, 2002, 2009, 2016, 2023, 2030, 2037, 2044, 2051, 2058, 2065, 2072, 2079, 2086, 2093, 2100, 2107, 2114, 2121, 2128, 2135, 2142, 2149, 2156, 2163, 2170, 2177, 2184, 2191, 2198, 2205, 2212, 2219, 2226, 2233, 2240, 2247, 2254, 2261, 2268, 2275, 2282, 2289, 2296, 2303, 2310, 2317, 2324, 2331, 2338, 2345, 2352, 2359, 2366, 2373, 2380, 2387, 2394, 2401, 2408, 2415, 2422, 2429, 2436, 2443, 2450, 2457, 2464, 2471, 2478, 2485, 2492, 2499, 2506, 2513, 2520, 2527, 2534, 2541, 2548, 2555, 2562, 2569, 2576, 2583, 2590, 2597, 2604, 2611, 2618, 2625, 2632, 2639, 2646, 2653, 2660, 2667, 2674, 2681, 2688, 2695, 2702, 2709, 2716, 2723, 2730, 2737, 2744, 2751, 2758, 2765, 2772, 2779, 2786, 2793, 2800, 2807, 2814, 2821, 2828, 2835, 2842, 2849, 2856, 2863, 2870, 2877, 2884, 2891, 2898, 2905, 2912, 2919, 2926, 2933, 2940, 2947, 2954, 2961, 2968, 2975, 2982, 2989, 2996]

In [77]:
print(t)

481607

In [79]:
tr=set(re)
print(tr)

{2562, 2051, 1540, 2569, 2058, 1547, 2576, 2065, 1554, 2583, 2072, 1561, 2590, 2079, 1568, 2597, 2086, 1575, 2604, 2093, 1582, 2611, 2100, 1589, 2618, 2107, 1596, 2625, 2114, 1603, 2632, 2121, 1610, 2639, 2128, 1617, 2646, 2135, 1624, 2653, 2142, 1631, 2660, 2149, 1638, 2667, 2156, 1645, 2674, 2163, 1652, 2681, 2170, 1659, 2688, 2177, 1666, 2695, 2184, 1673, 2702, 2191, 1680, 2709, 2198, 1687, 2716, 2205, 1694, 2723, 2212, 1701, 2730, 2219, 1708, 2737, 2226, 1715, 2744, 2233, 1722, 2751, 2240, 1729, 2758, 2247, 1736, 2765, 2254, 1743, 2772, 2261, 1750, 2779, 2268, 1757, 2786, 2275, 1764, 2793, 2282, 1771, 2800, 2289, 1778, 2807, 2296, 1785, 2814, 2303, 1792, 2821, 2310, 1799, 2828, 2317, 1806, 2835, 2324, 1813, 2842, 2331, 1820, 2849, 2338, 1827, 2856, 2345, 1834, 2863, 2352, 1841, 2870, 2359, 1848, 2877, 2366, 1855, 2884, 2373, 1862, 2891, 2380, 1869, 2898, 2387, 1876, 2905, 2394, 1883, 2912, 2401, 1890, 2919, 2408, 1897, 2926, 2415, 1904, 2933, 2422, 1911, 2940, 2429, 1918, 2947, 2436, 1925, 2954, 2443, 1932, 2961, 2450, 1939, 2968, 2457, 1946, 2975, 2464, 1953, 2982, 2471, 1960, 2989, 2478, 1967, 2996, 2485, 1974, 2492, 1981, 2499, 1988, 2506, 1995, 2513, 2002, 2520, 2009, 2527, 2016, 1505, 2534, 2023, 1512, 2541, 2030, 1519, 2548, 2037, 1526, 2555, 2044, 1533}

In [80]:
ww=set()
for i in range(10):
    ir=input("enter")
    ww.add(ir)
print(ww)

{'9', '0', '3', '4', '2', '7', '8', '6', '1', '5'}

In [81]:
a=[2,4,5,6]
qw=[]
for i in a:
    qw.append(i**2)
print(qw)

[4, 16, 25, 36]

In [82]:
err=[i**2 for i in a]
print(err)

[4, 16, 25, 36]

In [2]:
rt=[1,2,8,9,12,13,14]
rr=[]
for i in rt:
    if i%2==0:
        rr.append(i**2)
print(rr)

[4, 64, 144, 196]

In [4]:
re=[i**2 for i in rt ]
print(re)

[1, 4, 64, 81, 144, 169, 196]

In [41]:
re={1,2}
print(re)

{1, 2}

In [42]:
type(re)

set

In [43]:
der=list(re)
type(der)

list

In [1]:
l1=[1,2,3]

In [2]:
l2=[2]

In [5]:
s1=set(l1)
s2=set(l2)
print(type(s1),s1)

<class 'set'> {1, 2, 3}

In [7]:
if s2.issubset(s1):
    print('yes')
else:
    print('no')

yes

In [15]:
sa='hello'
sb='world'
sa1=[]
sa2=[]
print(sa)
for i in sa:
    sa1.append(i)
for j in sb:
    sa2.append(j)

print(sa1)

print(sa2)
    
for v in sa1:
    if v in sa2:
        print('yes')
    else:
        print('no')

hello
['h', 'e', 'l', 'l', 'o']
['w', 'o', 'r', 'l', 'd']
no
no
yes
yes
yes

In [16]:
len(sa1)

5

#!/bin/python3

import math
import os
import random
import re
import sys
# Complete the twoStrings function below.
p=int(input())
l1=[]
l2=[]
if p in range(1,11):
    while p<=2:
        s1=input()
        s2=input()
        if len(s1)>=1 and len(s1)<=100000 and len(s2)>=1 and len(s2)<=100000:
            for i in s1:
                l1.append(i)
            for j in s2:
                l2.append(j)
            for v in l1:
                if v in l2:
                    print('YES')
                    break
                else:
                    continue        
            print('NO')

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys
# Complete the twoStrings function below.
p=int(input())
l1=[]
l2=[]
if p in range(1,11):
    while p<=2:
        s1=input()
        s2=input()
        if len(s1)>=1 and len(s1)<=100000:
            for i in s1:
                l1.append(i)
            for j in s2:
                l2.append(j)
            for v in l1:
                if v in l2:
                    print('YES')
                    break
                else:
                    print('NO')

In [4]:
a=2
print(a)
for i in 'ajay':
    if i in 'mit':
        print('yes')
        break
else:
    print('no')

2
no

In [6]:
#!/bin/python3

p=int(input())
l1=[]
l2=[]
if p in range(1,11):
    for k in range(1,p+1):
        s1=input()
        s2=input()
        if len(s1)>=1 and len(s1)<=100000 and len(s2)>=1 and len(s2)<=100000:
            for i in s1:
                l1.append(i)
            for j in s2:
                l2.append(j)
            for v in l1:
                if v in l2:
                    print('YES')
                    break
                break
            else:
                print('NO')

YES

In [1]:
print('trhfghf')

trhfghf

In [2]:
#!/bin/python3

p=int(input())
l1=[]
l2=[]
if p in range(1,11):
    while p>0:
        s1=input()
        s2=input()
        if len(s1)>=1 and len(s1)<=100000 and len(s2)>=1 and len(s2)<=100000:
            for i in s1:
                l1.append(i)
            for j in s2:
                l2.append(j)
            for v in l1:
                if v in l2:
                    print('YES')
                    break
            else:
                print('NO')
        p=p-1