In [1]:
import sqlite3 as sq

In [4]:
con = sq.connect("mydb.sqlite")

In [26]:
query='''create table students(
          id integer primary key autoincrement,
          name text,
          clas integer,
          section text,
          headmaster text,
          guardian text,
          rollno text)'''

In [11]:
try:
    con.execute(query)
    con.commit()
except Exception as e:
     print("sorry")

sorry

In [12]:
query='''INSERT INTO students Values(
    null,'Ram',7,'A','Rohit' ,'Ramesh','7AE122' )'''
try:
    con.execute(query)
    con.commit()
    print("success")
except Exception as e:
    print(e)

success

In [51]:
def add_student(con,name,clas,section,headmaster,guardian,rollno):
    query=f'''INSERT INTO students values(
     null,'{name}',{clas},'{section}','{headmaster}','{guardian}','{rollno}'  )'''
    try:
        con.execute(query)
        con.commit()
        print("success")
    except Exception as e:
        print(e)

In [52]:
add_student(con,'srish',8,'A','Ria','Jre','34E45')

success

In [53]:
add_student(con,'srish',8,'A','Ria','Jre','34E45')
add_student(con,'risu',9,'B','Tia','Jre','84E45')
add_student(con,'rose',6,'C','Renu','Jde','84E45')
add_student(con,'lily',9,'P','KV','Jdk','04E45')
add_student(con,'sunny',7,'L','URL','Pre','94E45')

success
success
success
success
success

In [55]:
result=con.execute("Select * from students")
data=result.fetchall()
data

[(1, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (2, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (3, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (4, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (5, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (6, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (7, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (8, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (9, 'Ram', 7, 'A', 'Rohit', 'Ramesh', '7AE122'),
 (10, 'srish', 8, 'A', 'Ria', 'Jre', '34E45'),
 (11, 'srish', 8, 'A', 'Ria', 'Jre', '34E45'),
 (12, 'risu', 9, 'B', 'Tia', 'Jre', '84E45'),
 (13, 'rose', 6, 'C', 'Renu', 'Jde', '84E45'),
 (14, 'lily', 9, 'P', 'KV', 'Jdk', '04E45'),
 (15, 'sunny', 7, 'L', 'URL', 'Pre', '94E45')]

In [27]:
import sqlite3 as sq
con = sq.connect("mydb.sqlite")
def delete_by_id(con,id):
    query=f'''DELETE  from students
            where id={id}'''
    try:
        con.execute(query)
        con.commit()
    except Exception as e:
        print(e)

In [21]:
delete_by_id(con,5)

In [29]:
import sqlite3 as sq
con = sq.connect("mydb.sqlite")
def update_by_id(con,id):
    query=f'''UPDATE students
           SET name='Shiv'  where id={id}'''
    try:
        con.execute(query)
        con.commit()
    except Exception as e:
        print(e)

In [33]:
update_by_id(con,9)

In [40]:
import sqlite3 as sq
con = sq.connect("mydb2.sqlite")

In [18]:
query='''create table book(
          id integer primary key autoincrement,
          name text,
          author text,
          isbnno integer,
          totalpages integer,
          price integer,
          issuedate text )'''

In [2]:
import sqlite3 as sq
con = sq.connect("mydb2.sqlite")
try:
    con.execute(query)
    con.commit()
except Exception as e:
    print(e)

name 'query' is not defined

In [3]:

import sqlite3 as sq
con = sq.connect("mydb2.sqlite")
def add_book(con,name,author,isbnno,totalpages,price,issuedate):
    query=f'''INSERT into book values(
    null,'{name}','{author}',{isbnno},{totalpages},{price},'{issuedate}')'''
    try:
        con.execute(query)
        con.commit()
    except Exception as e:
        print(e)

In [4]:
add_book(con,'RD Sharma','RD Sharma',8907,890,560,'18july')
add_book(con,'RS Agarwal','RS Agarwal',6790,900,789,'19july')
add_book(con,'HC Verma','HC Verma',8906,677,500,'30jul')
add_book(con,'DAA','RS Agarwal',9076,890,600,'1Aug')
add_book(con,'DS','Reema Thareja',8905,800,500,'7Aug')

In [ ]:
import sqlite as sq
con = sq.connect("mydb2.sqlite")
def delete_book(con,id):
    query=f'''DELETE from book value(
     )'''